<script>
function validate()
{
var inputVal = document.getElementById("subdomain").value;
invalidList=["admin","administrator"];
if(invalidList.indexOf(inputVal) !== -1){
        document.getElementById("submitSubDomain").innerHTML="Invalid";
    } else{
        document.getElementById("submitSubDomain").innerHTML=inputVal;
    }
}
function validateSubmit()
{
var inputVal = document.getElementById("name").value;
invalidList=["admin","administrator"];
if(invalidList.indexOf(inputVal) !== -1){
        alert("Invalid");
    } else{
        alert("Success");
    }
}
</script>
